In [3]:
pwd

'C:\\Users\\ABC\\3. Edureka'

In [4]:
import os
import pandas as pd 
import numpy as np
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [5]:
os.chdir('C:\\Users\\ABC\\6. Datasets')

In [6]:
df = pd.read_csv('weather.csv')

In [7]:
df.dropna(inplace= True)
df.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,917.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,918.347688,71.403843,100.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [8]:
df['humidity_val'] = (df['relative_humidity_3pm']>25)*1
df

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm,humidity_val
0,0,917.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000,1
1,1,918.347688,71.403843,100.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697,19.426597,0
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000,0
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547,0
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1090,918.900000,63.104000,192.900000,3.869906,207.300000,5.212070,0.0,0.0,26.020000,38.180000,1
1091,1091,918.710000,49.568000,241.600000,1.811921,227.400000,2.371156,0.0,0.0,90.350000,73.340000,1
1092,1092,916.600000,71.096000,189.300000,3.064608,200.800000,3.892276,0.0,0.0,45.590000,52.310000,1
1093,1093,912.600000,58.406000,172.700000,3.825167,189.100000,4.764682,0.0,0.0,64.840000,58.280000,1
1094,1094,921.530000,77.702000,97.100000,3.265932,125.900000,4.451511,0.0,0.0,14.560000,15.100000,0

In [9]:
df.drop('relative_humidity_3pm', axis = 1, inplace = True)
df

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,humidity_val
0,0,917.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,1
1,1,918.347688,71.403843,100.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697,0
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,0
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,0
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,1
...,...,...,...,...,...,...,...,...,...,...,...
1090,1090,918.900000,63.104000,192.900000,3.869906,207.300000,5.212070,0.0,0.0,26.020000,1
1091,1091,918.710000,49.568000,241.600000,1.811921,227.400000,2.371156,0.0,0.0,90.350000,1
1092,1092,916.600000,71.096000,189.300000,3.064608,200.800000,3.892276,0.0,0.0,45.590000,1
1093,1093,912.600000,58.406000,172.700000,3.825167,189.100000,4.764682,0.0,0.0,64.840000,1
1094,1094,921.530000,77.702000,97.100000,3.265932,125.900000,4.451511,0.0,0.0,14.560000,0

In [10]:
y = df['humidity_val']
x = df.drop('humidity_val', axis = 1)

In [11]:
for k in range(707,710):
    train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.20, random_state=k)
    knn = KNeighborsClassifier(n_neighbors=7)
    model = knn.fit(train_x, train_y)
    y_pred = knn.predict(test_x)
    acc = accuracy_score(y_pred, test_y)
    if acc> 0.858:
        print(k, acc)

707 0.8591549295774648

C:\Users\ABC\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\ABC\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\ABC\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [12]:
    train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.20, random_state=707)
    knn = KNeighborsClassifier(n_neighbors=7)
    model = knn.fit(train_x, train_y)
    y_pred = knn.predict(test_x)
    acc = accuracy_score(y_pred, test_y)
    acc

C:\Users\ABC\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.8591549295774648

In [13]:
y_pred

array([1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0])

In [14]:
df['data_type'] = 'train'
df.head()

df.loc[df.index.isin(test_x.index), 'data_type'] ='test'
df['data_type'].unique()

array(['train', 'test'], dtype=object)

In [15]:
df.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,humidity_val,data_type
0,0,917.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,1,train
1,1,918.347688,71.403843,100.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697,0,train
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,0,train
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,0,train
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,1,train

In [16]:
value_to_filter = 'test'
df2 = df[df['data_type'] == value_to_filter]
df2.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,humidity_val,data_type
14,14,911.000000,86.432000,202.900000,1.207948,162.900000,1.677705,0.0,0.0,15.190000,0,test
18,18,918.800000,67.082000,176.100000,4.876529,183.400000,5.569981,0.0,0.0,18.900000,1,test
20,20,919.992262,62.964383,54.799094,12.680436,74.254223,15.452306,0.0,0.0,18.809518,0,test
40,40,919.300000,64.220000,182.200000,10.759681,186.500000,11.788674,0.0,0.0,34.630000,1,test
44,44,924.200000,68.882000,56.300000,9.887275,69.000000,11.878151,0.0,0.0,14.230000,0,test

In [17]:
df2['Test_Results'] = test_y
df2

C:\Users\ABC\AppData\Local\Temp\ipykernel_17860\815985046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Test_Results'] = test_y

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,humidity_val,data_type,Test_Results
14,14,911.000000,86.432000,202.900000,1.207948,162.900000,1.677705,0.0,0.0,15.190000,0,test,0
18,18,918.800000,67.082000,176.100000,4.876529,183.400000,5.569981,0.0,0.0,18.900000,1,test,1
20,20,919.992262,62.964383,54.799094,12.680436,74.254223,15.452306,0.0,0.0,18.809518,0,test,0
40,40,919.300000,64.220000,182.200000,10.759681,186.500000,11.788674,0.0,0.0,34.630000,1,test,1
44,44,924.200000,68.882000,56.300000,9.887275,69.000000,11.878151,0.0,0.0,14.230000,0,test,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,1061,920.900434,64.148002,127.750848,2.635249,49.352505,3.310595,0.0,0.0,16.540564,0,test,0
1069,1069,918.260000,82.220000,186.600000,1.096101,221.500000,1.722444,0.0,0.0,32.460000,1,test,1
1079,1079,917.200000,65.264000,137.600000,1.767183,176.700000,2.550112,0.0,0.0,58.370000,1,test,1
1083,1083,916.320000,48.308000,46.900000,4.854160,61.700000,5.860783,0.0,0.0,91.030000,1,test,1
1086,1086,921.260000,52.646000,261.900000,2.035615,260.500000,3.042238,0.0,0.0,91.110000,1,test,1

In [18]:
df2['Predicted_Results'] = y_pred
df2.head()

C:\Users\ABC\AppData\Local\Temp\ipykernel_17860\1975231018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Predicted_Results'] = y_pred

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,humidity_val,data_type,Test_Results,Predicted_Results
14,14,911.000000,86.432000,202.900000,1.207948,162.900000,1.677705,0.0,0.0,15.190000,0,test,0,1
18,18,918.800000,67.082000,176.100000,4.876529,183.400000,5.569981,0.0,0.0,18.900000,1,test,1,1
20,20,919.992262,62.964383,54.799094,12.680436,74.254223,15.452306,0.0,0.0,18.809518,0,test,0,1
40,40,919.300000,64.220000,182.200000,10.759681,186.500000,11.788674,0.0,0.0,34.630000,1,test,1,0
44,44,924.200000,68.882000,56.300000,9.887275,69.000000,11.878151,0.0,0.0,14.230000,0,test,0,0

In [19]:
df2['Results'] = df2['Test_Results'] == df2['Predicted_Results']
df2.head()

C:\Users\ABC\AppData\Local\Temp\ipykernel_17860\1301632730.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Results'] = df2['Test_Results'] == df2['Predicted_Results']

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,humidity_val,data_type,Test_Results,Predicted_Results,Results
14,14,911.000000,86.432000,202.900000,1.207948,162.900000,1.677705,0.0,0.0,15.190000,0,test,0,1,False
18,18,918.800000,67.082000,176.100000,4.876529,183.400000,5.569981,0.0,0.0,18.900000,1,test,1,1,True
20,20,919.992262,62.964383,54.799094,12.680436,74.254223,15.452306,0.0,0.0,18.809518,0,test,0,1,False
40,40,919.300000,64.220000,182.200000,10.759681,186.500000,11.788674,0.0,0.0,34.630000,1,test,1,0,False
44,44,924.200000,68.882000,56.300000,9.887275,69.000000,11.878151,0.0,0.0,14.230000,0,test,0,0,True

In [20]:
df2['Results'].value_counts()

True     115
False     98
Name: Results, dtype: int64

In [21]:
cc = confusion_matrix(y_pred, test_y)
cc

array([[109,  20],
       [ 10,  74]], dtype=int64)